@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
font-family: 'Cairo', sans-serif;
list-style: none;
text-decoration: none;


}
a{
   text-decoration: none;
}


.index-header{
    display: flex;
    justify-content: center;
align-items: center;
    width: 100%;
    height: 100vh;
  overflow: hidden;
      }


video { object-fit:fill; }

#video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
   display: flex;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.756) !important;
     color: #ffff;
}

 .navbar-nav .nav-link{
   font-size: 16px;

 color: #ffff;
   
 }

 .navbar-toggler{
   margin-left: 20px;
    color: #ffff;
 }

 /* .navbar-brand img{
   
 } */


.header-info{
   margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
     


 
 }

 .index-header .header-info h1{
    color: #ffff;
   
 }


 .header-info .container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 20px;
}


 .header-info .card{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 300px;
    background-color: #ffff;
    border-radius: 12px !important;
    
 }

 .header-info .card:hover{
background-color: #969696;
cursor: pointer;
transition: all 0.3s ease-out;
 }
 

 .header-info .card img{
    width: 100px;
 }
 .header-info .card h4{
    width: 100%;
    z-index: 1;
    color: black;
    text-align: center;
    margin-top: 20px;
 }

 .bg-nav{
    background-color: #8fbbcc !important;
 }

 .eyes-header{
   margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height:70vh;

 }

 .eyes-info{
   width: 60%;
   height: auto;

margin: 0 auto;
  
 }
 
 .eyes-test{
    overflow: hidden;
    width: 100%;
  
 }
.eyes-test .container{
    width: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;
gap: 10px;
width: 60%;
}

 .eyes-test .row{
  
    overflow: hidden;

 }

 .eyes-test .row .card{
   cursor: pointer;
    padding: 20px;
 }

 #result{
   text-align: center;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;

 }



 .content:not(:first-child) {
   display: none;
}


 #result h4{
   color: #035677;
 }


 .anxiety-test{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.anxiety-test .conatiner{
   margin: 0 auto;
width: 60%;
height: 100vh;

}

.anxiety-test #controls{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.anxiety-test .card{
padding: 10px;
}


.anxiety-header{
   margin-top: 100px;

   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 100%;
   height:40vh;
 overflow: hidden;
}

.anxiety-header .header-info{

   margin: 30px auto;

   width: 60%;
/* margin-top: 20px; */
}
.anxiety-header .header-info h1{
   width: 100%;
  
}




.anxiety-test #calculate{
   padding:15px 50px;
	width:auto;
	background:#72a3b6;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}



.anxiety-test #calculate:hover {
	opacity:0.8;
}

.anxiety-test #calculate:active {
	opacity:0.4;
}

.anxiety-test #result{
   text-align: center;

}
.anxiety-test #comment{
   text-align: center;
  
}



.water-test form {

	margin:0 auto 10% auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
border: 3px solid #72a3b6;

 
}

.water-test form label {
	font-size:18px;
	color:rgb(41, 40, 40);
	cursor:pointer;
}

.water-test form label,
.water-test form input {
	float:right;
	clear:both;
}

.water-test form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

.water-test form input[type=text]:focus
 {
	border-color:rgb(72, 106, 168);
}

.water-test form button {
	padding:15px 50px;
	width:auto;
	background: #72a3b6;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

.water-test form button:hover {
	opacity:0.8;
}

.water-test form button:active {
	opacity:0.4;
}

.water-header{
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height:40vh;
 overflow: hidden;
}

.water-header h1{
   margin-top: 100px;
}

/* Small screen */

@media(max-width: 576px){
   .index-header .header-info{
      margin-top: 100px;
   }

   .index-header .header-info h1{
      color: #ffff;
      font-size: 20px;
     
   }
   
   .header-info .card{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 110px;
      background-color: #ffff;
   
    
     
   }
   .header-info .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center ;
      gap: 10px;
      width: 60%;
   }


   .header-info .card h4{

font-size: 12px;
   }

  
   .header-info .card img{
      width: 50px;
     height: 50px;
   }


.water-header h1{
  font-size: 24px;

}

.water-test form {

	margin:0 auto 10% auto;
	padding:30px;
	width:300px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
border: 3px solid #72a3b6;

 
}

.water-test form button {
	padding:15px 20px;
	width:auto;
	background: #72a3b6;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}
.eyes-header{
   margin-top: 170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height:70vh;

 }

}

/* Medium screen */
@media (min-width: 576px) and (max-width: 768px) {
   .index-header .header-info{
      margin-top: 100px;
   }

   .index-header .header-info h1{
      color: #ffff;
      font-size: 20px;
     
   }
   .header-info .container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      gap: 20px;
   }
   
   .header-info .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
width: 300px;
height: 200px;
      background-color: #ffff;
   
    
     
   }
   .header-info .card h4{

font-size: 12px;
   }

  
   .header-info .card img{
   
      width: 50px;
     height: 50px;
   }
  

}

/* x Large screen */
/* @media ( min-width: 1920px){
  

   .navbar-brand img{
   width: 200px;
   height: 200px;
    }

  
 
  .navbar-nav .nav-link{
 font-size: 42px;
  color: #ffff;
    
  }
 
  


  
   .index-header .header-info h1{
      color: #ffff;
      font-size: 70px;
     
   }
   .header-info .container{
    
      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 60px;
   }
   
   .header-info .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
width: 600px;
height: 600px;
      background-color: #ffff;
   
    
     
   }
   .header-info .card h4{

font-size: 40px;
   }

  
   .header-info .card img{
      width: 300px;
     height: 300px;
   }

   .eyes-header{
      margin-top: 170px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 100px;
       width: 100%;
       height:30vh;
   
    }


    .anxiety-test{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      
   
   }
   .anxiety-test .conatiner{
      margin: 0 auto;
   width: 60%;
   height: 100vh;
   
   }
   
   .anxiety-test #controls{
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
   
   .anxiety-test .card{
   padding: 10px;
   }
   
   
   .anxiety-header{
      margin-top: 100px;
   
      display: flex;
      flex-direction: column;
      justify-content: center;
   
      width: 100%;
      height:20vh;
    overflow: hidden;
   }
   
   .anxiety-header .header-info{
   
      margin: 30px auto;
   
      width: 60%;

   }
   .anxiety-header .header-info h1{
      width: 100%;
     
   }
   
   
   
   
   .anxiety-test #calculate{
      padding:15px 50px;
      width:auto;
      background:#72a3b6;
      border:none;
      color:white;
      cursor:pointer;
      display:inline-block;
      -webkit-transition:0.2s ease all;
         -moz-transition:0.2s ease all;
          -ms-transition:0.2s ease all;
           -o-transition:0.2s ease all;
              transition:0.2s ease all;
   }
   
   
   
   .anxiety-test #calculate:hover {
      opacity:0.8;
   }
   
   .anxiety-test #calculate:active {
      opacity:0.4;
   }
   
   .anxiety-test #result{
      text-align: center;
   
   }
   .anxiety-test #comment{
      text-align: center;
     
   }
   

} */










