@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
font-family: 'Cairo', sans-serif;
list-style: none;
text-decoration: none;


}

.index-header{
    display: flex;
    justify-content: center;
align-items: center;
gap: 100px;
    width: 100%;
    height:100vh;
  overflow: hidden;
      }


video { object-fit:fill; }

#video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {

     color: #ffff;
}

 .navbar-nav .nav-link{

 color: #ffff;
   
 }

 .navbar-toggler{
    color: #ffff;
 }

 /* .navbar-nav {

  
 } */


 .header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 0.9;
    height: 60vh;
 
 }

 .header-info h1{
    color: #ffff;
    z-index: 1;
 }
 /* .header-info .card-group{
    display: flex;
    justify-content: center;
    align-items: center;
 } */
 .header-info .card{
    background-color: #ffff;
    z-index: 1;
    order: 1;
  
    border: 2px solid black;
    border-radius: 12px !important;
 }

 .header-info .card img{
    width: 100%;
    width: 200px;
 }
 .header-info .card h4{
    width: 100%;
    z-index: 1;
    color: black;
    text-align: center;
    margin-top: 20px;
 }

 .bg-nav{
    background-color: rgb(14, 6, 45) !important;
 }

 .eyes-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height:80vh;
  overflow: hidden;
 }

 .eyes-test{
    overflow: hidden;
    width: 100%;
  
 }
.eyes-test .container{
    width: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;
gap: 10px;
width: 60%;
}

 .eyes-test .row{
  
    overflow: hidden;

 }

 .eyes-test .row .card{
    padding: 20px;
 }

 #result{
   text-align: center;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;

 }



 .content:not(:first-child) {
   display: none;
}


 #result h4{
   color: blue;
 }


 .anxiety-test{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.anxiety-test .conatiner{
width: 60%;
height: 100vh;



}

.anxiety-test #controls{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.anxiety-test .card{
padding: 10px;
}

.anxiety-header{

   display: flex;
   flex-direction: column;
   justify-content: center;
align-items: center;
   width: 100%;
   height:60vh;
 overflow: hidden;
}

.anxiety-header .hrader-info{
   width: 60%;

margin-top: 200px;
}

/* .anxiety-header .navbar{
 
} */




